* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #FFFFFF;
    background-size: cover;
    background-position-y: 60px;
}


nav {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0%;
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

}

.logo {
    text-decoration: none;
    color: #2A9D8F;
    text-transform: uppercase;
    padding-left: 40px;
    font-size: 40px;
    font-weight: 900;
}

nav ul {
    width: 100%;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
}
li a {
    text-decoration: none;
    color: #2A9D8F;
    padding-right: 50px;
    font-size: 28px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;

}

.content .text {
    margin-left: 90px;
    width: fit-content;
    margin-bottom: 140px;
}

.content .text h1 {
    font-size: 80px;
    color: #2A9D8F;

}

.content .text h4 {
    font-size: 35px;
    color: #2A9D8F;
    width: 500px;
}

.text a p {
    background: linear-gradient(to left, #2b6253, #2A9D8F 90%);
    border-radius: 20px;
    border: 1px solid;
    margin-top: 10px;
    transition: 0.5s;
    font-size: 40px;
    cursor: pointer;
    outline: none;
    width: 200px;
    border-color: transparent;
    text-align: center;
    color: #FFFFFF;
}

.text a {
    text-decoration: none;
}

.text a p:hover {
    background: transparent;
    border: 1px solid;
    color: black;
}

.content .image {
    /* margin-top: 40px; */
    margin-right: 40px;
    margin-bottom: 200px;
}

.content .image img {
    width: 650px;
    height: 300px;
    margin: 10px;
    transition: 0.5s;

}


.content-two {
    display: flex;
    justify-content: center;
    background-color: #2B6253;
}

.contact-us {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
    color: #FFFFFF;
}

input[type=text],
input[type=email],
textarea {
    width: 400px;
    height: 100%;
    padding: 12px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    outline: none;
}

button {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border-color: transparent;
    transition: 0.2s;
}

button:hover {
    background-color: #2A9D8F;
    color: #FFFFFF;
}

.team-symbol a {
    text-decoration: none;
    color: black;
}

.user-picture {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 50px;
}

.profile-navbar {
    position: absolute;
    top: 11%;
    right: 3%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s;
}


.profile-navbar.open-menu {
    max-height: 400px;
}

.profile {
    background: white;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.profile-navbar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.profile-navbar-link p {
    width: 100%;
}

.profile-navbar-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 0px;
    margin-right: 15px;
}

.profile-navbar-link span {
    font-size: 22px;
}

.profile-navbar-link:hover span {
    transform: translate(5px);
}

.profile-navbar-link:hover p {
    font-weight: 600;
}