* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


body {
    background: linear-gradient(#2A9D8F, #2B6253);
    height: 100%;
    background-size: cover;
    background-position-y: 60px;
}


nav {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0%;
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

}

.logo {
    text-decoration: none;
    color: #2A9D8F;
    text-transform: uppercase;
    padding-left: 40px;
    font-size: 40px;
    font-weight: 900;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

li a {
    text-decoration: none;
    color: #2A9D8F;
    padding-right: 50px;
    font-size: 32px;
}

.content h1 {
    margin-top: 150px;
    text-align: center;
    font-size: 80px;
    /* color: #2A9D8F; */
    color: #FFFFFF;
}

.create_div {
    margin-top: 70px;
    margin-left: 20px;
}

.create_button {
    background-color: #2A9D8F;
    height: 40px;
    width: 85px;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 0 40px 40px 0px;
    border: none;
    cursor: pointer;

}

.input-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    font-size: 20px;
    border-radius: 40px 0px 0px 40px;
    border: none;
    width: 400px;
    height: 40px;
    padding: 0px 15px;
    outline: none;
}

.links-group {
    display: block;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 25px;
    width: 650px;
    padding: 15px;
    color: black;
    margin: 25px auto;
    height: fit-content;
    visibility: hidden;
}

.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.links-group .monitor-button {
    text-decoration: none;
    color: #2A9D8F;
    background-color: #cae6e2;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
}

.original-link {
    font-size: 20px;
    cursor: pointer;
}

.shortened-link {
    color: #3260D6;
    margin: auto;
    margin-right: 10px;
    cursor: pointer;
}