* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background-image: url(https://j.top4top.io/p_2504s68fp1.jpg);
    background-size: cover;
    background-position-y: 60px;
}

nav {
    background-color: #c03828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 0%;
    width: 100%;
}

.logo {
    text-decoration: none;
    color: #1e2d42;
    text-transform: uppercase;
    padding-left: 40px;
    font-size: 40px;
    font-weight: 900;

}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

li a {
    text-decoration: none;
    color: #1e2d42;
    padding-right: 80px;
    font-size: 30px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div .IMG-ONE,
.IMG-TWO,
p {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

img {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.IMG-ONE a {
    background-image: linear-gradient(purple, purple);
    background-size: 1%;

    transition: 0.5s;
}

.IMG-ONE a:hover {
    background-image: linear-gradient(green, green);
    background-size: 1%;
}


.IMG-TWO a {
    background-image: linear-gradient(purple, purple);
    background-size: 1%;

    transition: 0.5s;
}

.IMG-TWO a:hover {
    background-image: linear-gradient(green, green);
    background-size: 1%;
}