<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="src/landing.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>Shortly</title>
  </head>

  <!-- Header -->
  <body>
    <div class="container">
      <nav>
        <a href="/" class="logo">SHORTLY</a>
        <ul id="navbar">
          <li><a href="/team">Team</a></li>
          <li id="register-navbar"><a href="/register">Register</a></li>
          <li id="login-navbar"><a href="/login">Login</a></li>
        </ul>
      </nav>
    </div>

    <!-- Content Section -->
    <div class="content">
      <div class="text">
        <h1>SHORTLY</h1>
        <h4>
          Fast and Easy link shortener website with the ability of analysing and
          managing your links. Just a simple clicks to make a shortened link.
        </h4>
        <a href="/register"><p>Try now</p> </a>
      </div>
      <div class="image">
        <img
          src="https://cdn.discordapp.com/attachments/1045066964328005683/1047244323021934602/final_project_without_background.png"
          alt="Illustration.png"
        />
      </div>
    </div>

    <div class="content-two">
      <div class="contact-us">
        <h1 id="contact-us-h1">Contact Us</h1>
        <form action="javascript:sendFeedback();" id="contact-us-form">
          <div>
            <input id="name-feedback" type="text" placeholder="Name" required />
          </div>
          <div>
            <input id="email-feedback" type="email" placeholder="Email" />
          </div>
          <div class="comment">
            <textarea
              id="subject-feedback"
              name="subject"
              required
              placeholder="Leave a Feedback or a Comment here.."
            ></textarea>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="team-symbol" style="text-align: center">
      <a href="https://github.com/AbdoRayan404/Shortly" target="_blank"
        >Shortly™</a
      >
    </div>
    <script src="src/landing.js"></script>
  </body>
</html>
