<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="src/landing.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>Shortly</title>
  </head>

  <!-- Header -->
  <body>
    <div class="container">
      <nav>
        <a href="/" class="logo">SHORTLY</a>
        <ul>
          <li><a href="/team">Team</a></li>
          <li><a href="/try">Register</a></li>
          <li><a href="/try">Loign</a></li>
        </ul>
      </nav>
    </div>

    <!-- Content Section -->
    <div class="content">
      <div class="text">
        <h1>SHORTLY</h1>
        <h4>
          No-Login link shortener website, Simple clicks to make a shortened
          link.
        </h4>
      </div>
      <div class="image">
      </div>
    </div>
  </body>
</html>
