<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="src/LCR.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Shortly</title>
  </head>

  <!-- Header -->
  <body>
    <div class="container">
      <nav>
        <a href="/" class="logo">SHORTLY</a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/team">Team</a></li>
        </ul>
      </nav>

      <!-- Content Section -->
    </div>
    <div class="content">
      <h1>Create your link</h1>
    </div>
    <!-- link creation section -->
    <div class="create_div">
      <div class="input-links">
        <input
          type="text"
          placeholder=" Place your link here"
          class="text-box"
        />
        <button class="create_button">Create</button>
      </div>
      <div class="links-group"></div>
    </div>

    <script src="src/LCR.js"></script>
  </body>
</html>
