<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="src/LCR.css">
    <title>Shortly</title>
</head>

<body>

    <div class="container">
        <nav>
            <a href="#" class="logo">SHORTLY</a>
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a href="#">Team</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <h1>Insert Your Link</h1>
    </div>

    <div class="create_div">
        <input type="text" class="text-box">
        <button class="create_button">Create</button>
        <br>
        <h1 class="link"> https://discord.com</h1>
    </div>

    <script src="src/LCR.js"></script>
</body>

</html>