<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="src/team.css">
    <title>Shortly</title>
</head>

<body>
    <div class="container">
        <nav>
            <a href="" class="logo">SHORTLY</a>
            <ul>
                <li><a href="">Team</a></li>
                <li><a href="/try">Try Now</a></li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="column">
            <a href="https://github.com/AdamMindGate">AdamMindGate</a>
            <img src="https://avatars.githubusercontent.com/u/78859273?v=4" alt="Forest" style="width:80%">
        </div>
        <div class="column">
            <a href="https://github.com/AbdoRayan404">AbdoRayan404</a>
            <img src="https://avatars.githubusercontent.com/u/44875260?v=4" alt="Mountains" style="width:80%">
        </div>
    </div>

</body>

</html>